[project]
	description = "Reproduce PR gradle/gradle#710 "
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Lacasse (lacasseio)
[access "refs/for/refs/*"]
	read = group user/Daniel Lacasse (lacasseio)
	push = group user/Daniel Lacasse (lacasseio)
	label-Code-Review = -2..+2 group user/Daniel Lacasse (lacasseio)
	label-Verified = -1..+1 group user/Daniel Lacasse (lacasseio)
	rebase = group user/Daniel Lacasse (lacasseio)
	removeReviewer = group user/Daniel Lacasse (lacasseio)
	submit = group user/Daniel Lacasse (lacasseio)
[access "refs/heads/*"]
	read = group user/Daniel Lacasse (lacasseio)
	create = group user/Daniel Lacasse (lacasseio)
	push = +force group user/Daniel Lacasse (lacasseio)
	pushMerge = group user/Daniel Lacasse (lacasseio)
[access "refs/tags/*"]
	push = +force group user/Daniel Lacasse (lacasseio)
	pushTag = group user/Daniel Lacasse (lacasseio)
	pushSignedTag = group user/Daniel Lacasse (lacasseio)
